/* FontsCSS.css */
/* CSS rules that style the VBox and Labels */

.vbox {
   -fx-spacing: 10;
   -fx-padding: 10;
}

#label1 {
   -fx-font: bold 14pt Arial;
}

#label2 {
   -fx-font: 16pt "Times New Roman";
}

#label3 {
   -fx-font: bold italic 16pt "Courier New";
}

#label4 {
   -fx-font-size: 14pt;
   -fx-underline: true;
}

#label5 {
   -fx-font-size: 14pt;
}

#label5 .text {
   -fx-strikethrough: true;
}


/**************************************************************************
 * (C) Copyright 1992-2017 by Deitel & Associates, Inc. and               *
 * Pearson Education, Inc. All Rights Reserved.                           *
 *                                                                        *
 * DISCLAIMER: The authors and publisher of this book have used their     *
 * best efforts in preparing the book. These efforts include the          *
 * development, research, and testing of the theories and programs        *
 * to determine their effectiveness. The authors and publisher make       *
 * no warranty of any kind, expressed or implied, with regard to these    *
 * programs or to the documentation contained in these books. The authors *
 * and publisher shall not be liable in any event for incidental or       *
 * consequential damages in connection with, or arising out of, the       *
 * furnishing, performance, or use of these programs.                     *
 *************************************************************************/
